numpy==1.26.4
pandas==2.2.2
nltk==3.8.1
datasets==2.19.1
torch==2.0.1
transformers==4.41.0
umap==0.1.1
sklearn-preprocessing==0.1.0
matplotlib==3.9.0
tensorflow==2.16.1
pydot==2.0.0
networkx==3.3
graphviz==0.20.3
pygraphviz==1.13